* {
    font-family: 'Avenir', 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}
/* 
body {
    align-items: center;
    align-content: center;
    margin: 20px 80px 20px 80px;
}

.content {
    max-width: 720px;
    margin: auto;
} */

#nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 30px;
}

#nav-link li {
    float: left;
    margin-right: 24px;
}

#nav-link li a {
    display: block;
    color: #328fa8;
    text-align: center;
    text-decoration: none;
}

.active {
    color: black;
}
