* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #328fa8;
}

body {
    align-items: center;
    align-content: center;
    margin: 20px 80px 20px 80px;
}

.content {
    max-width: 720px;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 30px;
}

li {
    float: left;
    margin-right: 24px;
}

li a {
    display: block;
    color: #328fa8;
    text-align: center;
    text-decoration: none;
}

.active {
    color: black;
}
