{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <script>
            // nav menu styling
            // Add active class to the current button (highlight it)
            var header = document.getElementById("nav-menu");
            var btns = header.getElementsByClassName("nav-link");
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
                });
            }
        </script>

        {% block styles %}
        {% endblock %}
        <title>heppi</title>
    </head>
    <body>

        <ul id="nav-menu">
            <li class="nav-link active"><a href="/">heppi</a></li>
            <li class="nav-link"><a href="/">discover</a></li>
            <li class="nav-link" style="float:right; margin-right:0px"><a href="/logout">logout</a></li>
            <li class="nav-link" style="float:right;"><a href="{% url 'user_view' username=request.user.username %}">profile</a></li>
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>