{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h3>Edit Profile</h3>
    <br>
    <hr/>


    <form>
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleTitle">Title</label>
            <input name="title" type="text" class="form-control" id="exampleTitle" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="exampleBody">Body</label>
            <input name="body" type="text" class="form-control" id="exampleBody" placeholder="Body">
        </div>
        <button type="submit" class="btn btn-primary">Save Profile</button>
    </form>


{% endblock %}