{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h3>Edit Profile</h3>
    <br>
    <hr/>

    <form method="POST" action="/edit_profile/">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleTitle">Bio</label>
            <input name="bio" type="text" class="form-control" id="exampleTitle" placeholder="Add a description of yourself here!">
        </div>
        <button type="submit" class="btn btn-primary">Save Profile</button>
    </form>


{% endblock %}