{% extends 'base.html' %}
{% load static %}

{% block styles %}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            {% if user.is_authenticated %}
                <p style="font-size: 24px;">Welcome back, <b>{{ user.username }}</b>! &#127803;</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="margin-bottom: 1.5rem">
            <a href="new_post"><button type="button" class="btn btn-success">What made you smile today?</button></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="margin-bottom: 2.5rem">
            
        </div>
    </div>
    

{% endblock %}
