{% extends 'base.html' %}
{% load static %}


{% block styles %}
{% endblock %}

{% block content %}

    <h3 style="margin-bottom: 1.5rem">{{ user.username }}'s Profile</h3>
    {% if user.username == request.user.username %}
    <a href="../../edit_profile">
        <button type="button" class="btn btn-primary">Edit Profile</button>
    </a><br><br>
    {% endif %}

    <p>{{ user.profile.bio }}</p>

    <hr>
    <br>

    <div class="row">
        {% for post in all_posts %}
        <div class="col-md-4" style="margin-bottom: 1.5rem">
            <div class="card">
                <div class="card-body">
                    <h3>{{ post.title }}</h3>
                    <p><span>
                    <b><a href="{% url 'user_view' username=post.author.username %}">@{{ post.author.username }}</a></b>
                    </span></p>
                    <p>
                        <a href="{% url 'post_details_view' id=post.id %}">View Details</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
 


{% endblock %}